In [69]:
import pandas as pd

df_ceaps = pd.read_csv('Dados/despesa_ceaps_2022.csv', 
                      encoding='latin-1',
                      sep=';',
                      skiprows=1)

print("\nIniciando Limpeza de dados")
# Veficicando as colunas do dataframe
print(df_ceaps.columns)
# Exibir resumo das colunas
print(df_ceaps.info())
# Verificação no inicio e final do dataframe
#print(df_ceaps.head())
#print(df_ceaps.tail())

# Verificar quantas células estão nulas
print(df_ceaps.isnull().sum())
# Preenchendo valores nulos da coluna "DETALHAMENTO" com 'Nenhum registro encontrado'
df_ceaps['DETALHAMENTO'] = df_ceaps['DETALHAMENTO'].fillna('Nenhum registro encontrado')
df_ceaps['DOCUMENTO'] = df_ceaps['DOCUMENTO'].fillna('s/n')
# Conferir novamente se ainda há valores nulos
print(df_ceaps.isnull().sum())
# Verificar quantas linhas estão duplicadas
print(df_ceaps.duplicated().sum())

# Verificação no inicio e final das colunas 
#print(df_ceaps[['DETALHAMENTO','DOCUMENTO']].head(50))
#print(df_ceaps[['DETALHAMENTO','DOCUMENTO']].tail(50))

# Convertendo a coluna 'DATA' para o tipo datetime
df_ceaps['DATA'] = pd.to_datetime(df_ceaps['DATA'], format='%Y-%m-%d', errors='coerce')
print(df_ceaps['DATA'].dtype)
print(df_ceaps['VALOR_REEMBOLSADO'])

# Removendo 'R$', pontos e substituindo a vírgula por ponto
df_ceaps['VALOR_REEMBOLSADO'] = df_ceaps['VALOR_REEMBOLSADO'].str.replace('R$', '', regex=False)
df_ceaps['VALOR_REEMBOLSADO'] = df_ceaps['VALOR_REEMBOLSADO'].str.replace('.', '', regex=False)
df_ceaps['VALOR_REEMBOLSADO'] = df_ceaps['VALOR_REEMBOLSADO'].str.replace(',', '.', regex=False)

df_ceaps['VALOR_REEMBOLSADO'] = pd.to_numeric(df_ceaps['VALOR_REEMBOLSADO'])

# Verificação no inicio e final do dataframe 
print(df_ceaps.head())
print(df_ceaps.tail())

# Exibir novo resumo das colunas
print(df_ceaps.info())

print('\nVERIFIQUE POR QUE VALORES DA COLUNA DATA ESTÃO BUGADOS')

Iniciando Limpeza de dados
Index(['ANO', 'MES', 'SENADOR', 'TIPO_DESPESA', 'CNPJ_CPF', 'FORNECEDOR',
       'DOCUMENTO', 'DATA', 'DETALHAMENTO', 'VALOR_REEMBOLSADO',
       'COD_DOCUMENTO'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16805 entries, 0 to 16804
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ANO                16805 non-null  int64
 1   MES                16805 non-null  int64
 2   SENADOR            16805 non-null  object
 3   TIPO_DESPESA       16805 non-null  object
 4   CNPJ_CPF           16805 non-null  object
 5   FORNECEDOR         16805 non-null  object
 6   DOCUMENTO          15871 non-null  object
 7   DATA               16805 non-null  object
 8   DETALHAMENTO       9062 non-null   object
 9   VALOR_REEMBOLSADO  16805 non-null  object
 10  COD_DOCUMENTO      16805 non-null  int64
dtypes: int64(3), object(8)
memory usage: 1.4+ MB
None
ANO                     0
MES                     0
SENADOR                 0
TIPO_DESPESA            0
CNPJ_CPF                0
FORNECEDOR              0
DOCUMENTO             934
DATA                    0
DETALHAMENTO         7743
VALOR_REEMBOLSADO       0
COD_DOCUMENTO           0
dtype: int64
ANO                  0
MES                  0
SENADOR              0
TIPO_DESPESA         0
CNPJ_CPF             0
FORNECEDOR           0
DOCUMENTO            0
DATA                 0
DETALHAMENTO         0
VALOR_REEMBOLSADO    0
COD_DOCUMENTO        0
dtype: int64
0
datetime64[ns]
0           6000
1           1500
2           6000
3           1000
4           2000
          ...
16800    2893,04
16801    1180,19
16802     2671,9
16803    1334,31
16804    2250,72
Name: VALOR_REEMBOLSADO, Length: 16805, dtype: object
    ANO  MES       SENADOR                                       TIPO_DESPESA  \
0  2022    1  ACIR GURGACZ  Aluguel de imóveis para escritório político, c...
1  2022    1  ACIR GURGACZ                Divulgação da atividade parlamentar
2  2022    1  ACIR GURGACZ                Divulgação da atividade parlamentar
3  2022    1  ACIR GURGACZ                Divulgação da atividade parlamentar
4  2022    1  ACIR GURGACZ                Divulgação da atividade parlamentar

             CNPJ_CPF                                         FORNECEDOR  \
0      004.948.028-63                      GILBERTO PISELO DO NASCIMENTO
1  26.320.603/0001-64                                      INFORMANAHORA
2  13.659.201/0001-47                    LINHA PURPURA FOTO E VIDEO LTDA
3  23.652.846/0001-01                  ROBERTO GUTIERREZ DA ROCHA M.E.I.
4  08.941.827/0001-01  RONDONIA DINÂMICA COM. E SERV. DE INFORMÁTICA ...

           DOCUMENTO DATA                                       DETALHAMENTO  \
0             001/22  NaT  Despesa com pagamento de aluguel de imóvel par...
1  000000000000310/A  NaT  Despesa com divulgação da atividade parlamenta...
2                107  NaT  Despesa com produção de texto e edição de víde...
3                187  NaT                Divulgação da atividade parlamentar
4  000000000001772/A  NaT                Divulgação da atividade parlamentar

   VALOR_REEMBOLSADO  COD_DOCUMENTO
0             6000.0        2173614
1             1500.0        2173615
2             6000.0        2173616
3             1000.0        2173618
4             2000.0        2173617
        ANO  MES           SENADOR  \
16800  2022   12  ZEQUINHA MARINHO
16801  2022   12  ZEQUINHA MARINHO
16802  2022   12  ZEQUINHA MARINHO
16803  2022   12  ZEQUINHA MARINHO
16804  2022   12  ZEQUINHA MARINHO

                                            TIPO_DESPESA            CNPJ_CPF  \
16800  Passagens aéreas, aquáticas e terrestres nacio...  22.052.777/0001-32
16801  Passagens aéreas, aquáticas e terrestres nacio...  22.052.777/0001-32
16802  Passagens aéreas, aquáticas e terrestres nacio...  22.052.777/0001-32
16803  Passagens aéreas, aquáticas e terrestres nacio...  22.052.777/0001-32
16804  Passagens aéreas, aquáticas e terrestres nacio...  22.052.777/0001-32

          FORNECEDOR DOCUMENTO DATA  \
16800  Exceller Tour    WIXHAI  NaT
16801  Exceller Tour    WITOLM  NaT
16802  Exceller Tour    THPKVQ  NaT
16803  Exceller Tour    QNN9HX  NaT
16804  Exceller Tour    WMQWBX  NaT

                                            DETALHAMENTO  VALOR_REEMBOLSADO  \
16800  Companhia Aérea: LATAM, Localizador: WIXHAI. P...            2893.04
16801  Companhia Aérea: GOL, Localizador: WITOLM. Pas...            1180.19
16802  Companhia Aérea: TAM, Localizador: THPKVQ. Pas...            2671.90
16803  Companhia Aérea: AZUL, Localizador: QNN9HX. Pa...            1334.31
16804  Companhia Aérea: TAM, Localizador: WMQWBX. Pas...            2250.72

       COD_DOCUMENTO
16800        2191398
16801        2192272
16802        2192274
16803        2192244
16804        2193622
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16805 entries, 0 to 16804
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ANO                16805 non-null  int64
 1   MES                16805 non-null  int64
 2   SENADOR            16805 non-null  object
 3   TIPO_DESPESA       16805 non-null  object
 4   CNPJ_CPF           16805 non-null  object
 5   FORNECEDOR         16805 non-null  object
 6   DOCUMENTO          16805 non-null  object
 7   DATA               0 non-null      datetime64[ns]
 8   DETALHAMENTO       16805 non-null  object
 9   VALOR_REEMBOLSADO  16805 non-null  float64
 10  COD_DOCUMENTO      16805 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(6)
memory usage: 1.4+ MB
None

Limpeza de dados concluída com sucesso